<div class = "kowabunga_enter"> 

    <div class = "kowabunga_title"> 
        <h1>Kowabunga Forever</h1>
    </div>

    <div class ="kowabunga_subtitle">
        <h5>The #1 Internet on the Planet</h5>
    </div>
</div>




<a href="/welcome/index" class="button">enter</a>

