<div class ="about_me">
    <p>Kowabunga Forever was created by web developer, creative recluse, and asthmatic; Jordan Obey. He has never attended Harvard University but assumes it's nice. These days he spends his spare time having flashbacks from his time not being in the Vietnam War, and living as a microwave oven. On the right is a picture of that.<p>
</div>

<figure class = "about_image">
    <img src="/assets/microwave.png"></img>
</figure>
