<div class ="about_me">
    <p>Kowabunga Forever was created by web developer, creative recluse, and asthmatic; Jordan Obey. He has never attended Harvard University but assumes it's nice. He is also really bad at judging pictures of himself, so he instead posted a picture of a microwave. You can find that on the right.<p>
</div>

<figure class = "about_image">
    <img src="/assets/microwave.png"></img>
</figure>
