// Place all the styles related to the enter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enter { 
  background: url("my_apartment.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.kowabunga_title{
    color: white; 
    font-family: Bookman Old Style; 
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.kowabunga_subtitle{
    color: white;
    font-family: Bookman Old Style;
    text-align: center;
    font-size: 1.25em;
}



.button {
    
    display: block;
    height: 50px;
    width: 220px;
    background: #34696f;
    margin: auto;
    
    /*Step 3: Text Styles*/
    color: white;
    text-align: center;
    font: bold 1.25em/50px "Bookman Old Style", Arial, Helvetica, Geneva, sans-serif;
    
    /*Step 4: Fancy CSS3 Styles*/
    background: #e52485;
    
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    

    
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    
}

/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}

